<template name="mixtape">
  {{> loginButtons style="float: right;"}}<br>
  <div id="now-playing"></div>
  {{> songs}}
  {{> add_song}}

</template>

<template name="now-playing">

  <div id="api"></div>
  <img id="art" src="" height="200" width="200" style="float:left;margin-right:20px;">
  <div>
    <div><b>Track: </b><span id="track"></span></div>
    <div><b>Album: </b><span id="album"></span></div>
    <div><b>Artist: </b><span id="artist"></span></div>
    <div><b>Position: </b>
      <span style="display:inline-block;width:200px;border:1px solid black;">
        <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
      </span></div>
    <div>
      <button id="previous">&lt;&lt;</button>
      <button id="play">|&gt;</button>
      <button id="pause">||</button>
      <button id="next">&gt;&gt;</button>
    </div>
  </div>

</template>

<template name="songs">

  <h3>Playlist</h3>
  {{> veto}}
  {{#each songs}}
    <strong>{{name}} - </strong> {{artist}} {{upvotes}}
    <input type="button" value="Upvote" /><br>
  {{/each}}

</template>

<template name="veto">

  {{#each veto}}
    <input type="button" value="Veto" />
  {{/each}}

</template>

<template name="add_song">

  <h2>Add new song</h2>
  <label for="new_song_title">Title</label>
  <input type="text" id="new_song_title">
  <label for="new_song_artist">Artist</label>
  <input type="text" id="new_song_artist">
  <input type="submit" value="Add song">

</template>
