<template name="mixtape">
  {{> loginButtons style="float: right;"}}<br>
  <div id="now-playing"></div>
  {{> songs}}
  {{> add_song}}

</template>

<template name="songs">

  <h3>Playlist</h3>
  {{#each songs}}
    <input type="button" value="Upvote" />
    <strong>{{name}}:</strong> {{artist}} {{upvotes}}<br>
  {{/each}}

</template>

<template name="add_song">

  <h2>Add new song</h2>
  <label for="new_song_title">Title</label>
  <input type="text" id="new_song_title">
  <label for="new_song_artist">Artist</label>
  <input type="text" id="new_song_artist">
  <input type="submit" value="Add song">

</template>
