<template name="mixtape">
  {{> loginButtons style="float: right;"}}<br>
  {{> now_playing}} <br>
  {{> songs}} <br>
  {{> add_song}}


</template>

<template name="now_playing">

  <div id="now-playing"></div>

  <img id="art" src="" height="200" width="200">
  <div>
    <div>
      <span>Track: </span>
      <span id="track"></span>
    </div>
    <div>
      <span>Album: </span>
      <span id="album"></span>
    </div>
    <div>
      <span>Artist: </span>
      <span id="artist"></span>
    </div>
    <div>
      <span>Position: </span>
      <span style="display:inline-block;width:200px;border:1px solid black;">
        <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
      </span>
    </div>
  </div>

</template>

<template name="songs">

  <h3>Playlist</h3>
  <ul>
    {{#each songs}}
    <li>
      <strong>{{name}} - </strong> {{artist}} <br>
      <p>Number of votes: {{votes}} </p><input type="button" value="Vote">
    </li>
    {{/each}}
  </ul>

</template>

<template name="veto">

  {{#each veto}}
    <input type="button" value="Veto" />
  {{/each}}

</template>

<template name="add_song">

  <h2>Add new song</h2>
  <label for="song-query">Search for a song</label>
  <input type="text" id="song-query">
  <input type="submit" id="add-song" value="Add song">

</template>

